# <font color=#04B45F>SUPPLY CHAIN ANALYTICS WITH PULP</font>
##### LAST UPDATE: 10/05/2020

## Table of Contents
- Presentation of the Case
- Preparation of the Environment
- Initial Setting of the Problem

# <font color=#04B45F>Presentation of the Case</font>

TBD

# <font color=#04B45F>Preparation of the Environment</font>

## Import the Packages

PulP should preliminarily be installed on the machine using the command pip install pulp

In [2]:
### Data Manipulation
import numpy as np
import pandas as pd

### Optimization
import pulp

### Miscellaneous
import warnings

## Set Parameters of the Notebook

In [3]:
# Display all the columns
pd.set_option('display.max_columns', None)

# Hide warning message
warnings.simplefilter('ignore')

# Set random seed
np.random.seed(42)

# <font color=#04B45F>Initial Setting of the Problem</font>

## Demand

In [6]:
###
###### Prepare Inputs for Data Frame
###
### List the Country with Demand
list_country = ['France', 'United Kingdom', 'Germany', 'Belgium', 'Spain', 'Italy']

### List the Demand Quantity Associated with Each Country
list_demand = [3000, 2100, 4500, 900, 1200, 1900]


###
###### Create Data Frame
###
### Intiaite the Data Frame by Setting the Index
df_demand = pd.DataFrame(index=list_country)

### Add the Demand for Each Country
df_demand['Demand'] = list_demand

### Show the Data Frame
df_demand

                Demand
France            3000
United Kingdom    2100
Germany           4500
Belgium            900
Spain             1200
Italy             1900

## Variable Costs

In [11]:
###
###### Initiate the Data Frame
###
### List the Country with Demand
list_country = ['France', 'United Kingdom', 'Germany', 'Belgium', 'Spain', 'Italy']

### Create the Data Frame
df_cost_var = pd.DataFrame(index=list_country, columns=list_country)


###
###### Fill the Data Frame with Values
###
df_cost_var['France'] = [9, 25, 15, 13, 18, 21]
df_cost_var['United Kingdom'] = [14, 8, 15, 17, 20, 20]
df_cost_var['Germany'] = [14, 22, 6, 15, 19, 16]
df_cost_var['Belgium'] = [13, 21, 14, 5, 18, 17]
df_cost_var['Spain'] = [13, 22, 16, 17, 5, 13]
df_cost_var['Italy'] = [14, 26, 15, 16, 19, 9]

### Show the Data Frame
df_cost_var

                France  United Kingdom  Germany  Belgium  Spain  Italy
France               9              14       14       13     13     14
United Kingdom      25               8       22       21     22     26
Germany             15              15        6       14     16     15
Belgium             13              17       15        5     17     16
Spain               18              20       19       18      5     19
Italy               21              20       16       17     13      9

## Fixed Costs

In [14]:
### List the Country with Demand
list_country = ['France', 'United Kingdom', 'Germany', 'Belgium', 'Spain', 'Italy']

### Intiaite the Data Frame by Setting the Index
df_cost_fix = pd.DataFrame(index=list_country)

### Create One Column for Each Fixed Cost Depending on Capacity
# Fixed costs for plants at low capacity
df_cost_fix['Low_Capacity'] = [660, 700, 640, 600, 300, 420]
# Fixed costs for plants at medium capacity
df_cost_fix['Medium_Capacity'] = [1200, 1350, 1190, 1100, 620, 700]
# Fixed costs for plants at high capacity
df_cost_fix['High_Capacity'] = [1790, 1860, 1750, 1600, 940, 1230]


### Show the Data Frame
df_cost_fix

                Low_Capacity  Medium_Capacity  High_Capacity
France                   660             1200           1790
United Kingdom           700             1350           1860
Germany                  640             1190           1750
Belgium                  600             1100           1600
Spain                    300              620            940
Italy                    420              700           1230

## Plant's Capacity

In [15]:
### List the Country with Demand
list_country = ['France', 'United Kingdom', 'Germany', 'Belgium', 'Spain', 'Italy']

### Intiaite the Data Frame by Setting the Index
df_capacity = pd.DataFrame(index=list_country)

### Fill Out the Data Frame with Capacity for Each Status
df_capacity['Low_Capacity'] = 1000
df_capacity['Medium_Capacity'] = 2000
df_capacity['High_Capacity'] = 3000

### Show the Data Frame
df_capacity

                Low_Capacity  Medium_Capacity  High_Capacity
France                  1000             2000           3000
United Kingdom          1000             2000           3000
Germany                 1000             2000           3000
Belgium                 1000             2000           3000
Spain                   1000             2000           3000
Italy                   1000             2000           3000